<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD-基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15D59E321D9E155F0072AE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15D59E4B1D9E15600072AE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15D59E561D9E15600072AE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
